# Dependencies
node_modules/

# Environment
.env
.env.local

# Build
dist/
build/
.next/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage
coverage/

# Installers
*.exe

# Docker volumes (local)
postgres_data/
rabbitmq_data/
redis_data/
