global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'smartaccess-backend'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['backend:3000']
        labels:
          service: 'backend'
